.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}
.box-sizing(@_bs) {
  -webkit-box-sizing: @_bs;
  box-sizing: @_bs;
}
.flex-wrap(@_fw) {
  -ms-flex-wrap: @_fw;
  flex-wrap: @_fw;
}
.justify-content(@_jc) {
  -ms-flex-pack: distribute;
  justify-content: @_jc;
}

.grid-template-columns(@_gtc) {
  -ms-grid-columns: @_gtc;
  grid-template-columns: @_gtc;
}
.align-items(@_ai) {
  -webkit-box-align: @_ai;
  -ms-flex-align: @_ai;
  align-items: @_ai;
}
.transition(@_tr) {
  -webkit-transition: @_tr;
  -o-transition: @_tr;
  transition: @_tr;
}
.grid-template-rows(@_gtr) {
  -ms-grid-rows: @_gtr;
  grid-template-rows: @_gtr;
}

.container {
  width: 1170px;
  margin: auto;
  padding: 0;
  .box-sizing(border-box);
}
.row {
  .flex;
  .flex-wrap(wrap);
  margin: 0 -15px;
}
.box-shadow (@_bs) {
  -webkit-box-shadow: @_bs;
  box-shadow: @_bs;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@main-font: "Poppins", sans-serif;

body {
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
}

@hover-text: #fff;

.header {
  background-color: #292929;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  &-top-inner {
    .flex;
    .justify-content(space-between);
    color: #ffffff;
    line-height: 100px;
    .logo {
      .flex;
      .align-items(center);
    }
    .menu {
      ul {
        .flex;
        li:first-child {
          margin-left: 36px;
        }
        li {
          margin-right: 52px;
          // padding-top: 3px;
          a {
            font-size: 16px;
            font-weight: 400;
            color: @hover-text;
          }
        }
      }
    }
    .search-item {
      ul {
        .flex;
        .justify-content(flex-end);
        .align-items(center);
        li {
          margin-left: 26px;
          // padding-top: 4px;
          a {
            color: @hover-text;
          }
        }
      }
    }
  }
  &-top-inner-moblie {
    .flex;
    display: none;
    .justify-content(space-between);
    .align-items(center);
    padding-top: 20px;
    color: #ffffff;
    .logo {
      text-align: center;
      img {
        max-width: 70%;
      }
    }
    .menu {
      display: block;

      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        text-align: center;
        left: 100%;
        .transition(all 0.1s);
        li {
          padding: 10px 0;
          text-transform: uppercase;
          font-weight: 700;
          background-color: #dddddd;
          a:hover,
          a:active {
            color: #0082e6;
            background-color: aqua;
          }
        }
        li:first-child {
          text-align: left;
          left: 10px;
        }
      }
    }
    .search-item ul {
      .flex;
      li {
        margin-right: 3px;
        a {
          color: @hover-text;
        }
      }
    }
    #check:checked ~ ul {
      left: 0;
    }
    #colse:checked ~ ul {
      left: 100%;
    }
  }
}

.header-bottom {
  color: #fff;
  h2 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 203px;
    margin-left: -4px;
  }
  h4 {
    font-size: 40px;
    font-weight: 700;
    margin-left: -4px;
  }
  p {
    max-width: 532px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 25px;
  }
  button {
    margin-top: 37px;
    margin-bottom: 318px;
    padding: 13px 46px;
    max-width: 170px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    background-color: rgba(221, 47, 49, 0);
    border: 1px solid #ffffff;
  }
}

.swot {
  .swot-inner {
    .grid;
    .flex-wrap(wrap);
    .grid-template-columns(repeat(3, 100%/3));
    margin-top: -78px;
    position: relative;
    background-color: #fff;

    .item:nth-child(1),
    .item:nth-child(3),
    .item:nth-child(5) {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .item:nth-child(2),
    .item:nth-child(6),
    .item:nth-child(4) {
      text-align: center;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      img {
        margin-top: 31px;
        max-width: 100%;
      }
      h5 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 27px;
        margin-bottom: 20px;
      }
      p {
        max-width: 288px;
        margin: auto;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .item:nth-child(4) {
      img {
        margin-top: 47px;
      }
    }
  }
}

.product {
  &-sellers {
    &-inner {
      border-bottom: 1px solid #dddddd;
      ul {
        .flex;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        li {
          margin: 97px 16px 0px 19px;
          padding-bottom: 12px;
          &:hover {
            border-bottom: 1px solid #dd2f31;
          }
          a {
            &:hover {
              color: #dd2f31;
            }
          }
        }
      }
    }
  }
}

.product-item {
  .item {
    .grid;
    .grid-template-columns(repeat(4, 25%));
    margin-top: 29px;
    grid-gap: 6px;
    grid-row-gap: 25px;
    .item-wrapper:nth-child(6) {
      img {
        margin-left: 0;
        max-width: 100%;
      }
    }
    &-wrapper {
      position: relative;
      max-width: 270px;
      .grid;
      padding-top: 12px;
      text-align: center;
      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      &-inner {
        p,
        h6 {
          text-align: left;
          margin-left: 30px;
          font-size: 14px;
        }
        p {
          margin-top: 26px;
          margin-bottom: 0;
        }

        h6 {
          font-weight: 700;
          margin-bottom: 35px;
          margin-top: 6px;
        }
      }
      .icon {
        opacity: 0;
        top: 30px;
        right: 0px;
        position: absolute;
        .grid;
        .grid-template-rows(repeat(7, auto));
        row-gap: 10px;
        text-align: right;
        margin-right: 20px;
        a {
          color: #777777;
          padding: 5px;
          margin: auto;
          font-size: 13px;
          border: 1px solid #dddddd;
          border-radius: 5px 0 5px 0;
          &:hover {
            background-color: #dd2f31;
          }
        }
      }
      &:hover {
        .icon {
          opacity: 1;
        }
      }
    }
  }
}

.feedback {
  text-align: center;
  padding-bottom: 161px;
  h3 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 96px;
    margin-bottom: 37px;
  }
  .content-feedback {
    padding-top: 14px;
    max-width: 771px;
    font-size: 18px;
    color: #777777;
    font-weight: 400;
    margin: auto;
  }
  .author {
    margin-top: 29px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }
  img {
    display: initial;
  }
  p {
    margin-top: -10px;
    font-size: 14px;
  }
  .point {
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: -20px;
    font-size: 50px;
  }
}

.intro-partner {
  margin-bottom: -7px;
  .logo {
    .flex;
    // .grid-template-columns(repeat(6, 100/6%));
    text-align: center;
    align-items: center;
    .justify-content(space-around);
    padding-bottom: 48px;
  }
}

.footer {
  text-align: center;
  background-color: #222222;
  color: #777777;
  .footer-conpany-intro {
    border-bottom: 1px solid #777777;
    padding-bottom: 48px;
    img {
      margin-top: 101px;
    }
    a {
      color: #777777;
    }
    p {
      font-size: 14px;
      max-width: 770px;
      font-weight: 400;
      max-width: 714px;
      margin: auto;
      margin-top: 34px;
    }
    .social-company {
      margin-top: 42px;
      ul {
        .flex;
        .justify-content(center);
        align-items: center;
        li {
          margin-right: 18px;
        }
      }
      a {
        margin-left: 27px;
        text-align: center;
        font-size: 18px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .footer-info-company {
    .grid;
    .grid-template-columns(repeat(4, 25%));
    margin-top: 50px;
    grid-gap: 8px;
    grid-row-gap: 10px;
    .item:first-child {
      .item-inner {
        .grid;
        .grid-template-columns(10% 80%);
      }
    }
    .item {
      text-align: left;
      h4 {
        font-size: 18px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 25px;
        margin-bottom: 26px;
      }
      p {
        font-size: 14px;
      }
      a {
        color: #777777;
        text-decoration: none;
        &:hover {
          color: @hover-text;
        }
      }
    }
  }
  .info-web {
    padding: 16px 0;
    background-color: #111111;
    margin-top: 41px;
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
#check,
#close {
  display: none;
  margin-left: 40px;
}

@media (min-width: 630px) and (max-width: 990px) {
  .checkbtn {
    display: block;
  }
  .header-top-inner {
    display: none;
  }
  .header-top-inner-moblie {
    display: block;
    .flex;
  }

  .swot {
    .swot-inner {
      .grid-template-columns(repeat(2, 50%));
      row-gap: 20px;
      .item:nth-child(4),
      .item:nth-child(2),
      .item:nth-child(6) {
        img {
          margin-top: 20px;
        }
        h5 {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }
      img {
        max-width: 100%;
      }
    }
  }
  .product-item {
    .item {
      .grid-template-columns(repeat(2, auto));
      .justify-content(space-around);
      img {
        text-align: center;
        max-width: 100%;
      }
    }
  }
  .intro-partner .logo {
    .grid;
    grid-row-gap: 15px;
    .grid-template-columns(repeat(3, 100/3%));
  }
  .footer .footer-info-company {
    .grid-template-columns(repeat(2, auto));
  }
  .feedback {
    padding-bottom: 50px;
  }
}

// css slick js
.slick-dots {
  /* position: absolute; bottom: -3.5rem; */
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  margin: 0 -1.125rem;
  padding: 0;
  cursor: pointer;
}
.slick-dots li:first-child {
  margin-left: 0;
}
.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 0.6375rem;
  height: 0.6375rem;
  padding: 0.3125rem;
  cursor: pointer;
  color: transparent;
  outline: none;
  border: none;
  background: #777777;
  border-radius: 50%;
}

.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button {
  outline: none;
  background-color: #dd2f31;
  .transition(all 300ms ease 0s);
  color: #dd2f31;
}
@media (min-width: 991px) and (max-width: 1204px) {
  .header-top-inner {
    .menu {
      ul {
        li {
          margin-right: 30px;
        }
      }
    }
    .search-item {
      li {
        margin-left: 15px;
      }
    }
  }
  .product {
    .item {
      grid-gap: 0;
      .item-wrapper {
        .item-wrapper-inner {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  .feedback {
    padding-bottom: 100px;
  }
  .swot {
    .swot-inner {
      .item:nth-child(2),
      .item:nth-child(6),
      .item:nth-child(4) {
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        img {
          margin-top: 20px;
          max-width: 100%;
        }
        h5 {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          margin-top: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 629px) {
  .container {
    max-width: 90%;
  }

  .checkbtn {
    display: block;
  }
  .header-top-inner {
    display: none;
    .menu ul li a:focus {
      color: #0082e6;
      background-color: aqua;
    }
  }
  .header-top-inner-moblie {
    display: block;
    .flex;
  }
  .header-bottom {
    h2 {
      font-size: 40px;
      margin-top: 100px;
    }
    h4 {
      font-size: 25px;
    }
  }
  .swot .swot-inner {
    margin: auto;
    max-width: 300px;
    .grid-template-columns(auto);
    img {
      max-width: 100%;
    }
    .item:nth-child(4),
    .item:nth-child(2),
    .item:nth-child(6) {
      img {
        margin-top: 20px;
      }
      p {
        padding: 10px;
        .justify-content(space-between);
      }
    }
  }
  .product {
    .product-sellers {
      .product-sellers-inner {
        ul {
          display: block;
          margin-top: 120px;
          li {
            margin: 0;
            li:focus {
              border-bottom: 1px solid #dd2f31;
            }
            a {
              font-size: 15px;
              &:focus {
                color: #dd2f31;
              }
            }
          }
        }
      }
    }
    .product-item .item {
      .grid-template-columns(repeat(2, auto));
      &-wrapper {
        margin: auto;
        &:focus {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          a:focus {
            background-color: #dd2f31;
          }
        }
      }
      .item-wrapper-inner {
        img {
          margin-left: 0;
          max-width: 100%;
        }
        h6,
        p {
          margin-left: 0;
        }
      }
    }
  }
  .feedback {
    padding-bottom: 40px;
    h3 {
      font-size: 25px;
    }
  }
  .intro-partner .logo {
    grid-row: 30px;
  }
  .footer .footer-conpany-intro .social-company {
    .flex;
    .justify-content(space-around);
    a:focus {
      color: #fff;
    }
  }

  .intro-partner .logo {
    .grid;
    .grid-template-columns(repeat(2, 50%));
    grid-row-gap: 15px;
  }
  .footer .footer-info-company {
    .grid-template-columns(100%);
    .item {
      margin-left: 50px;
      h4 {
        margin-top: 20px;
      }
      a:focus {
        color: @hover-text;
      }
    }
  }
}
